# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
__snapshots__

# Coverage
coverage

# Transpiled files
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store